In [13]:
import pandas as pd
df_lists = pd.read_csv("C:/python/python_for_data_science/hackason/listings.csv")
df_reviews = pd.read_csv("C:/python/python_for_data_science/hackason/reviews.csv.gz")

In [3]:
df_calender = pd.read_csv("C:/python/python_for_data_science/hackason/calendar.csv.gz")

In [14]:
merged = pd.merge(df_calender, df_lists, left_on="listing_id", right_on="id", how="left")

In [23]:
import pandas as pd

# reviews.csv を読み込んだと仮定
# listing_id ごとに comments を連結
reviews_text = df_reviews.groupby("listing_id")["comments"].apply(
    lambda x: " ".join(x.dropna().astype(str))
).reset_index()

reviews_text.rename(columns={"comments":"all_comments"}, inplace=True)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

# TF-IDFの設定
tfidf = TfidfVectorizer(max_features=500, stop_words="english")

# ベクトル化
tfidf_matrix = tfidf.fit_transform(reviews_text["all_comments"].fillna(""))

# DataFrame化
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(),
                        columns=[f"tfidf_{w}" for w in tfidf.get_feature_names_out()])

# listing_idを付与
tfidf_df["listing_id"] = reviews_text["listing_id"]

In [34]:
tfidf_df.shape

(3145, 501)

In [29]:
tfidf_df.head()

,tfidf_10,tfidf_100,tfidf_15,tfidf_20,tfidf_30,tfidf_abbiamo,tfidf_aber,tfidf_absolutely,tfidf_access,tfidf_accogliente,...,tfidf_zona,tfidf_zu,tfidf_zum,tfidf_équipé,tfidf_était,tfidf_été,tfidf_все,tfidf_на,tfidf_очень,listing_id
0,0.011180,0.000000,0.000000,0.000000,0.0,0.033426,0.00000,0.000000,0.0,0.010640,...,0.000000,0.151539,0.088017,0.030200,0.013319,0.000000,0.000000,0.000000,0.000000,15526
1,0.037775,0.000000,0.000000,0.000000,0.0,0.000000,0.01559,0.030480,0.0,0.000000,...,0.000000,0.039386,0.000000,0.000000,0.000000,0.015668,0.019287,0.056659,0.018564,15542
2,0.000000,0.000000,0.040342,0.042003,0.0,0.000000,0.00000,0.000000,0.0,0.065561,...,0.062669,0.000000,0.000000,0.000000,0.000000,0.085721,0.000000,0.000000,0.000000,116423
3,0.062674,0.000000,0.036702,0.000000,0.0,0.062461,0.03880,0.000000,0.0,0.000000,...,0.028507,0.065347,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,179345
4,0.016154,0.020316,0.000000,0.019699,0.0,0.000000,0.00000,0.019552,0.0,0.000000,...,0.029391,0.016843,0.021196,0.021818,0.000000,0.000000,0.024744,0.000000,0.095264,215933

In [18]:
df_calender.drop(columns=["price", "adjusted_price"], inplace = True)

In [19]:
df_calender.to_csv("df_calender_cleaned.csv", index=False, encoding="utf-8")

In [36]:
merged_2 = pd.merge(merged, tfidf_df, left_on="listing_id", right_on="listing_id", how="left")

In [39]:
merged_2.head(100)

,listing_id,date,available,price_x,adjusted_price,minimum_nights_x,maximum_nights,id,name,host_id,...,tfidf_wszystko,tfidf_zona,tfidf_zu,tfidf_zum,tfidf_équipé,tfidf_était,tfidf_été,tfidf_все,tfidf_на,tfidf_очень
0,15526,2025-06-28,f,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
1,15526,2025-06-29,t,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
2,15526,2025-06-30,t,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
3,15526,2025-07-01,t,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
4,15526,2025-07-02,t,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,15526,2025-10-01,f,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
96,15526,2025-10-02,f,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
97,15526,2025-10-03,f,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
98,15526,2025-10-04,f,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0
99,15526,2025-10-05,f,NaN,NaN,5,1125,15526,"Classy apartment ""Palazzo""",60754,...,0.0,0.0,0.151539,0.088017,0.0302,0.013319,0.0,0.0,0.0,0.0